// Заголовки, загальні БЕМ блоки та інше...

.blok-header {
	display: grid;
	@include adaptiveValue('gap', 24, 15);
	&--center {
		text-align: center;
	}
	&--inline {
		display: grid;
		grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613));
		justify-content: space-between;
		gap: toRem(24);
		align-items: end;
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}
	&__title {
		color: $darkColor;
		font-weight: 700;
		@include adaptiveValue('font-size', 52, 32);
		line-height: 1.23;

		&--big {
			font-weight: 800;
			@include adaptiveValue('font-size', 64, 38);
			line-height: 1.19;
		}
		&--white {
			color: #fff;
		}

		transform: translate(0px, 15%);
		opacity: 0;
		transition:
			opacity 0.5s,
			transform 0.5s;

		._watcher-view & {
			transform: translate(0, 0);
			opacity: 1;
		}
	}
	&__text {
		transform: translate(0px, 15%);
		opacity: 1;
		transition:
			opacity 0.5s 0.3s,
			transform 0.5s 0.3s;
		._watcher-view & {
			transform: translate(0, 0);
			opacity: 1;
		}
		p {
			line-height: 1.55;
		}
		a {
			font-weight: 700;
			color: $bgColorLite;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.text {
	line-height: 1.55;
	p {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
}

.done {
	display: flex;
	flex-wrap: wrap;
	column-gap: toRem(41);
	row-gap: toRem(8);
	&__item {
		color: $bgColorLite;
		padding-left: toRem(32);
		@include adaptiveValue('font-size', 20, 18);
		line-height: 1.3;
		background: url('@img/icons/check-blue.svg') left toRem(1) no-repeat;
	}
}
